                            /* .panel-header {
    height: 27px;
    color: #ffffff;
    background-color: #00ba88 !important;
    line-height: 27px;
    border-color: #00ba88 !important;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 12px;
    border-bottom: none;
} */
                            
                            .top-cita {
                                right: 0px;
                            }
                            
                            @media screen and (max-width:800px) {
                                .top-cita {
                                    left: 0px!important;
                                }
                                .brand .brand-logo-dark {
                                    margin-top: -18px;
                                }
                            }
                            
                            @media screen and (max-width:1024px) {
                                .top-cita {
                                    left: 0px!important;
                                }
                                .brand .brand-logo-dark {
                                    margin-top: -18px;
                                }
                            }
                            
                            .efect {
                                position: relative;
                                display: inline-block;
                                text-decoration: none;
                                overflow: hidden;
                                padding-bottom: 20px;
                            }
                            
                            .efect:after {
                                content: "";
                                position: absolute;
                                bottom: 0;
                                width: 80px;
                                display: block;
                                height: 4px;
                                background: #00ba88;
                                animation: efect-animation 0.8s ease infinite;
                            }
                            
                            @keyframes efect-animation {
                                0% {
                                    left: -100%;
                                }
                                50% {
                                    left: 0;
                                }
                                100% {
                                    left: 100%;
                                }
                            }
                            
                            .i4ewOd-pzNkMb-haAclf {
                                /* background-color: rgb(77,106,121); */
                                display: none !important !important;
                            }
                            
                            .owl-stage {
                                margin: auto !important;
                            }
                            
                            @media screen and (max-width:1024px) {
                                .post_cnt {
                                    transform: translateX(66%)!important;
                                    top: 25% !important;
                                    -webkit-transform: translateX(66%)!important;
                                    -moz-transform: translateX(66%)!important;
                                    -ms-transform: translateX(66%)!important;
                                    -o-transform: translateX(66%)!important;
                                }
                                .post_cnt h6 {
                                    font-size: 18px;
                                }
                                .btn-our-team div a.btn {
                                    padding: 7px 25px!important;
                                }
                                /* .mobile .sheldue-item-body {
                                    max-width: 345px !important;
                                    min-width: 345px !important;
                                }
                                .sheldue .sheldue-more {
                                    max-width: 345px !important;
                                    min-width: 345px !important;
                                } */
                                .showAddressConsultorio {
                                    top: -60px;
                                    right: -140px;
                                }
                                .flip-card-inner {
                                    height: 326px;
                                }
                                .text-map-naco {
                                    padding-top: 20px !important;
                                    padding-right: 54px !important;
                                }
                                .flip-card-back iframe {
                                    height: 326px;
                                }
                            }
                            
                            @media screen and (max-width:825px) {
                                .post_cnt {
                                    transform: translateX(40%)!important;
                                    top: 20% !important;
                                    -webkit-transform: translateX(40%)!important;
                                    -moz-transform: translateX(40%)!important;
                                    -ms-transform: translateX(40%)!important;
                                    -o-transform: translateX(40%)!important;
                                }
                                .leftSocial {
                                    margin-left: 0px!important;
                                }
                                .showAddressConsultorio {
                                    right: -35px;
                                }
                                .showAddressQuirofano {
                                    top: 3px;
                                    right: -10px;
                                }
                                .efect h3 {
                                    font-size: 24px!important;
                                }
                                .btn-sede {
                                    padding: 5px 25px;
                                    font-size: 14px;
                                }
                            }
                            
                            @media screen and (max-width:800px) {
                                .post_cnt {
                                    transform: translateX(35%)!important;
                                    top: 24% !important;
                                    -webkit-transform: translateX(35%)!important;
                                    -moz-transform: translateX(35%)!important;
                                    -ms-transform: translateX(35%)!important;
                                    -o-transform: translateX(35%)!important;
                                }
                                .post_cnt h6 {
                                    font-size: 18px !important;
                                }
                                .post_cnt img {
                                    width: 75px !important;
                                }
                                .post_cnt a.btn {
                                    padding: 5px 20px !important;
                                    font-size: 14px !important;
                                    margin-bottom: 7px !important;
                                }
                                .leftSocial {
                                    margin-left: 0px!important;
                                }
                                .btn-our-team div a.btn {
                                    padding: 7px 35px!important;
                                }
                                .showAddressConsultorio {
                                    right: -190px;
                                }
                                .flip-card-inner {
                                    height: 244px;
                                }
                                .flip-card-back iframe {
                                    height: 244px;
                                }
                                .text-map-naco {
                                    padding: 15px!important;
                                }
                            }
                            
                            @media screen and (min-width:731px) {
                                .sede-responsive {
                                    flex: 0 0 50%!important;
                                    max-width: 50%!important;
                                }
                                .leftSocial {
                                    margin-left: 0px!important;
                                    margin-top: 85px !important;
                                }
                            }
                            
                            @media screen and (max-width:720px) {
                                .post_cnt {
                                    transform: translateX(100%)!important;
                                    top: 24% !important;
                                    -webkit-transform: translateX(100%)!important;
                                    -moz-transform: translateX(100%)!important;
                                    -ms-transform: translateX(100%)!important;
                                    -o-transform: translateX(100%)!important;
                                }
                                .post_cnt h6 {
                                    font-size: 18px !important;
                                }
                                .post_cnt img {
                                    width: 100px !important;
                                }
                                .post_cnt a.btn {
                                    padding: 5px 20px !important;
                                    font-size: 14px !important;
                                    margin-bottom: 7px !important;
                                }
                                .leftSocial {
                                    margin-left: 0px!important;
                                    margin-top: 85px!important;
                                    margin-bottom: 20px!important;
                                }
                                #teamDoctor {
                                    margin-right: 20px !important;
                                    margin-left: 20px !important;
                                }
                            }
                            
                            @media screen and (max-width:600px) {
                                .showAddressConsultorio {
                                    right: -100px;
                                }
                            }
                            
                            @media screen and (max-width:520px) {
                                .post_cnt {
                                    transform: translateX(45%)!important;
                                    top: 24% !important;
                                    -webkit-transform: translateX(45%)!important;
                                    -moz-transform: translateX(45%)!important;
                                    -ms-transform: translateX(45%)!important;
                                    -o-transform: translateX(45%)!important;
                                }
                                .post_cnt h6 {
                                    font-size: 18px !important;
                                }
                                .post_cnt img {
                                    width: 75px !important;
                                }
                                .post_cnt a.btn {
                                    padding: 5px 20px !important;
                                    font-size: 14px !important;
                                    margin-bottom: 7px !important;
                                }
                                .leftSocial {
                                    margin-left: 0px!important;
                                    margin-top: 85px!important;
                                    margin-bottom: 20px!important;
                                }
                                #teamDoctor {
                                    margin-right: 20px !important;
                                    margin-left: 20px !important;
                                }
                                .showAddressConsultorio {
                                    right: -20px;
                                    padding: 10px!important;
                                }
                                .showAddressQuirofano {
                                    right: -10px;
                                }
                                .flip-card-inner {
                                    height: 269px;
                                }
                                .flip-card-back iframe {
                                    height: 269px;
                                }
                            }
                            
                            @media screen and (max-width:400px) {
                                .post_cnt {
                                    transform: translateX(35%)!important;
                                    top: 24% !important;
                                    -webkit-transform: translateX(35%)!important;
                                    -moz-transform: translateX(35%)!important;
                                    -ms-transform: translateX(35%)!important;
                                    -o-transform: translateX(35%)!important;
                                }
                                .post_cnt h6 {
                                    font-size: 18px !important;
                                }
                                .post_cnt img {
                                    width: 75px !important;
                                }
                                .post_cnt a.btn {
                                    padding: 5px 20px !important;
                                    font-size: 14px !important;
                                    margin-bottom: 7px !important;
                                }
                                #teamDoctor {
                                    margin-right: 0px !important;
                                    margin-left: 0px !important;
                                }
                                .unit-spacing-xs>* {
                                    margin-left: 7px;
                                }
                                .rd-navbar-minimal.rd-navbar-fixed .rd-navbar-top-panel {
                                    width: 95%!important;
                                    left: 6px;
                                    height: 30%;
                                }
                                .showAddressQuirofano {
                                    top: 13px !important;
                                    right: 25px !important;
                                }
                                .showAddressConsultorio {
                                    right: -2px !important;
                                    padding: 10px !important;
                                    top: -45px;
                                }
                                .contact-info p {
                                    font-size: 9px;
                                    margin-bottom: 0;
                                    font-weight: bold;
                                }
                                .flip-card-inner {
                                    height: 237px;
                                }
                                .flip-card-back iframe {
                                    height: 237px;
                                }
                                .text-map-naco {
                                    padding: 15px!important;
                                }
                            }
                            
                            @media screen and (max-width:360px) {
                                .icon-xs.icon-circle,
                                .icon-xs.icon-outlined {
                                    width: 40px;
                                    height: 40px;
                                    line-height: 40px;
                                    font-size: 22px;
                                }
                                .unit-spacing-xs>* {
                                    margin-left: -3px;
                                }
                                .textAddress {
                                    margin-left: 3px !important;
                                }
                            }
                            
                            @media screen and (max-width:320px) {
                                .post_cnt {
                                    transform: translateX(20%)!important;
                                    top: 10% !important;
                                    -webkit-transform: translateX(20%)!important;
                                    -moz-transform: translateX(20%)!important;
                                    -ms-transform: translateX(20%)!important;
                                    -o-transform: translateX(20%)!important;
                                }
                                .post_cnt h6 {
                                    font-size: 18px !important;
                                }
                                .post_cnt img {
                                    width: 75px !important;
                                }
                                .post_cnt a.btn {
                                    padding: 5px 20px !important;
                                    font-size: 14px !important;
                                    margin-bottom: 7px !important;
                                }
                                .btn-our-team div a.btn {
                                    padding: 7px 20px!important;
                                }
                                .icon-xs.icon-circle,
                                .icon-xs.icon-outlined {
                                    width: 20px;
                                    height: 20px;
                                    line-height: 20px;
                                    font-size: 15px;
                                }
                                .unit-spacing-xs>* {
                                    margin-left: -3px;
                                }
                                .textAddress {
                                    margin-left: 0px !important;
                                }
                                .rd-navbar-minimal.rd-navbar-fixed .rd-navbar-top-panel {
                                    height: 25%;
                                }
                                .showAddressQuirofano {
                                    top: 5px !important;
                                }
                                .flip-card-inner {
                                    height: 202px;
                                }
                                .flip-card-back iframe {
                                    height: 202px;
                                }
                            }
                            
                            .unit+p {
                                min-height: 75px;
                                max-height: 75px;
                                display: flex;
                                align-items: center;
                            }
                            
                            .mobile .sheldue-item-body {
                                min-height: 265px !important;
                                max-height: 265px !important;
                            }

                            .ie-panel {
                                display: none;
                                background: #212121;
                                padding: 10px 0;
                                box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
                                clear: both;
                                text-align: center;
                                position: relative;
                                z-index: 1;
                            }
                            
                            html.ie-10 .ie-panel,
                            html.lt-ie-10 .ie-panel {
                                display: block;
                            }